body {
    margin: 0;
    height: 100vh;
}

#game-container {
    position: absolute;
    background: #eee;
    overflow: hidden;
    z-index: 0;
}

#player {
    position: absolute;
    background: rgb(143, 176, 199);
    z-index: 10;
}

.wall {
    z-index: 1;
}

.wall.solid {
    background: rgb(136, 136, 136);
}

.wall.weak {
    background: rgb(199, 165, 130);
}

.flame {
    position: absolute;
    background: rgb(255, 234, 0);
    z-index: 3;
}

.bomb {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 4;
}